
form {
  margin-bottom: 30px;
  margin-left: 30px;
}

article {
  background: rgb(246, 244, 246);
  border: 1px solid darkgrey;
  border-radius: 5px;
  width: 60%;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

img {
  border: 1px solid darkgrey;
  float: left;
}

input {
  padding: 5px;
  border-radius: 2px;
  border: 0;
  border: 1px solid darkgrey;
}

select {
  border: 0;
}
