<!doctype html>
<html lang="en" ng-app="redditApp" ng-cloak>
<head>
    <meta charset="UTF-8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" href="normalize.css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body ng-controller="Reddit">


    <nav>
        Reddit Clone
        <span ng-click="show()" class="nav"><i class="fa fa-plus"></i> Submit Post</span>
        <input type="text" class="search" placeholder="Search" ng-model="search"/>
        <span class="nav">Sort by <select name="articles" id="articles" ng-model="selected" ng-init="selected = '-votes'">
                <option value="-votes">Votes</option>
                <option value="-date">Date</option>
                <option value="title">Title</option>
            </select>
        </span>
    </nav>


    <form ng-show="formClick > 0" ng-submit="submitPost()" class="post">
        <p>
            <label for="title">Title</label><br>
            <input type="text" id="title" placeholder="Title" ng-model="title" required>
        </p>
        <p>
            <label for="author">Author</label><br>
            <input type="text" id="author" placeholder="Author" ng-model="author" required>
        </p>
        <p>
            <label for="image">Image URL</label><br>
            <input type="text" id="image" placeholder="Image URL" ng-model="image" required>
        </p>
        <p>
            <label for="description">Description</label><br>
            <textarea id="description" placeholder="Description" ng-model="description" required></textarea>
        </p>
        <input type="submit" value="Submit Post" class="submit">
    </form>


    <article ng-repeat="info in articles | filter: search | orderBy: selected">
        <img ng-src="{{info.image}}" alt="image" height="150" width="200"/><br>
        <h3>{{info.title}}</h3> | <i class="fa fa-arrow-up" ng-click="upVote(info)"></i> <i class="fa fa-arrow-down" ng-click="downVote(info)"></i><span ng-class="{pos: info.votes > 0, neg: info.votes < 0}"> {{info.votes}}</span>
        <p>By: {{info.author}}</p>
        <p>{{info.description}}</p>
        <i class="fa fa-ca,lendar"></i> <span>{{info.date}}</span> | <a ng-click="showComments = !showComments"><i class="fa fa-commenting"></i> {{info.comments.length}}
            <ng-pluralize count="info.comments.length" when="
                {
                '1': 'Comment',
                'other': 'Comments'
                }">
            </ng-pluralize></a> | <a ng-click="newComment = !newComment"><i class="fa fa-pencil"></i> Add Comment</a>

        <div ng-show="showComments" ng-repeat="comment in info.comments" class="comments">
                <ul>
                    <li>{{comment.person}} says "{{comment.message}}"</li>
                </ul>
        </div>

        <form ng-init="newComment = false" ng-show="newComment" ng-submit="addComment(info.comments)" class="comments">
            <label for="person">Author</label>
            <input type="text" id="person" ng-model="person">
            <br>
            <label for="message">Message</label>
            <input type="text" id="message" ng-model="message">

            <input type="submit" value="Submit" class="submit">
        </form>
    </article>



<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-animate.js"></script>
<script src="moment.js"></script>
<script src="app.js"></script>

</body>
</html>